// COLORS
$color-transparent: transparent;

$color-light-gray: #f7f7f7;
$color-light-gray-2: #e5e5e5;
$color-light-gray-3: #929499;
$color-light-gray-4: #ddd;
$color-dark-gray: #54555a;

$color-light-green: #00a671;
$color-dark-green: #1a885f;

$color-light-brown: rgba(89, 54, 46, 0.8);
$color-brown: #60372f;
$color-dark-brown: #6d3838;

$color-light-black: #444;
$color-dark-black: #222;

$color-white: #fff;

// FONTS
$font-regular: 14px regular, lato;
$font-regular-big: 22px regular, lato;
$font-bold: 17px bold, lato;