.projection-container {
  background: url("../img/projection-background.png") center;
  justify-content: center;
}

.projection {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 29.2rem 29.2rem 29.2rem 29.2rem;
  grid-template-rows: auto;
  grid-template-areas:
    "view view button button"
    "view view desc desc";
  justify-content: center;

  &__view {
    grid-area: view;
  }

  &__buttons {
    grid-area: button;

    & > input {
      background-color: $color-dark-gray;
      color: $color-white;
      font: $font-bold;
      width: 27rem;
      height: 4rem;
      margin-bottom: 2.5rem;
    }
  }
  &__desc {
    grid-area: desc;
    background-color: $color-light-brown;

    & img {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media (min-width: 1920px) {
  .projection-container {
    padding: 5rem 37rem;
  }
}

@media (max-width: 1920px) {
  .projection-container {
    padding: 5rem 37rem;
  }
}

@media (min-width: 1301px) {
  .projection__buttons {
    & input:nth-child(1),
    & input:nth-child(3) {
      margin-right: 5rem;
    }
  }
}

@media (min-width: 769px) and (max-width: 1300px) {
  .projection {
    grid-template-columns: none;

    &__view {
      width: 40rem;

      & img {
        width: 100%;
      }
    }

    &__buttons {
      width: 30rem;
      text-align: right;
    }

    &__desc {
      width: 30rem;

      & img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .projection-container {
    width: 100%;
    padding: 6rem 1rem;
  }

  .projection {
    display: flex;
    flex-direction: column;

    &__view {
      order: 2;
      margin: 3rem 0;

      & img {
        width: 100%;
      }
    }

    &__buttons {
      order: 1;
      width: 100%;
      height: 9rem;
      grid-area: button;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      & > input {
        background-color: $color-dark-gray;
        width: 14.5rem;
        height: 4rem;
        margin-bottom: 0rem;
      }
    }
    &__desc {
      order: 3;
      height: 32rem;
      padding: 1rem;
      margin: 0 auto;

      & img {
        width: 100%;
        height: 30rem;
      }
    }
  }
}
